* {
  margin: 0 auto;
  padding: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 1300px) {
  html,
  body {
    width: 1300px;
  }
}

:root {
  --color-darkorange: #fe5e00;
  --color-lightorange: #feb902;
  --color-white: #fff;
  --color-black: #000;
  --font-brandongrotesque: "brandon-grotesque", sans-serif;
  --font-sourcesanspro: "Source Sans Pro", sans-serif;
}

.site-header {
  background-color: var(--color-white);
  color: var(--color-darkorange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 111px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  font-family: var(--font-brandongrotesque);
  font-weight: 700;
  font-size: 28px;
}
@media (min-width: 1300px) {
  .site-header {
    position: fixed;
    box-shadow: none;
    width: 1300px;
  }
}
.site-header .site-branding {
  padding: 35px 25px 15px 0px;
  margin: 0 4%;
}
.site-header .site-branding img {
  width: 172px;
  height: auto;
}
.site-header .main-navigation {
  margin: 0 5%;
}
.site-header .main-navigation .menu-row {
  display: none;
}
.site-header .main-navigation .menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10%;
}
.site-header .main-navigation .menu-toggle .bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-darkorange);
  margin: 4px 0;
}
.site-header .menu-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.site-header .menu-modal .menu-modal-content {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.site-header .menu-modal .menu-modal-content ul {
  list-style: none;
}
.site-header .menu-modal .menu-modal-content .menu-close {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--color-darkorange);
}
.site-header .menu-modal .menu-modal-content a {
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-darkorange);
  text-decoration: none;
}
.site-header .menu-modal.active {
  display: flex;
}
@media (min-width: 768px) {
  .site-header .main-navigation .menu-row {
    display: none;
  }
  .site-header .main-navigation .menu-toggle {
    display: flex;
  }
  .site-header .menu-modal {
    display: none;
  }
}
@media (min-width: 1300px) {
  .site-header .main-navigation {
    margin: 3.4%;
  }
  .site-header .main-navigation .menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 3px;
    padding-top: 5px;
  }
  .site-header .main-navigation .menu-row ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .site-header .main-navigation .menu-row ul a {
    text-transform: uppercase;
    cursor: pointer;
    color: var(--color-darkorange);
    text-decoration: none;
  }
  .site-header .main-navigation .menu-toggle {
    display: none;
  }
  .site-header .menu-modal {
    display: none;
  }
}

.site-main {
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* Large screen background images on what to expect and speakers sections */
  /* Section icon */
  /* Section titles */
}
.site-main section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1300px) {
  .site-main section {
    width: 1300px;
  }
}
.site-main h3 {
  font-size: 30.6px;
  font-family: var(--font-brandongrotesque);
  font-weight: 700;
  color: var(--color-darkorange);
  font-style: italic;
  width: 80%;
  text-align: center;
  margin: 0 auto 60px auto;
}
@media screen and (min-width: 768px) {
  .site-main h3 {
    font-size: 40.6px;
  }
}
@media screen and (min-width: 768px) {
  .site-main h3 {
    font-size: 50.6px;
  }
}
.site-main h4 {
  font-size: 30px;
  font-family: var(--font-brandongrotesque);
  font-weight: 700;
  color: var(--color-darkorange);
  margin: 0 auto;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
}
@media screen and (min-width: 768px) {
  .site-main h4 {
    font-size: 37px;
  }
}
@media screen and (min-width: 1024px) {
  .site-main h4 {
    font-size: 47.3px;
  }
}
.site-main p {
  font-size: 20px;
  color: var(--color-black);
  font-family: var(--font-sourcesanspro);
  font-weight: 400;
  line-height: 1.6;
  width: 80%;
  margin: 0 auto 60px auto;
}
@media screen and (min-width: 768px) {
  .site-main p {
    font-size: 27px;
  }
}
@media screen and (min-width: 1024px) {
  .site-main p {
    font-size: 37.3px;
  }
}
.site-main .full-w-img {
  display: none; /* Hide image on mobile */
}
@media screen and (min-width: 768px) {
  .site-main .full-w-img {
    display: block;
    width: 100vw;
    padding: 0; /* Add padding to image */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
  }
}
.site-main .icon-img {
  margin: 60px auto 55px auto;
  width: 69px;
  height: auto;
}
.site-main .parallelogram {
  background: var(--color-lightorange);
  display: inline-block;
  padding: 0.5em 2em;
  height: 50px;
  margin: 0 auto 60px auto;
}
@media screen and (min-width: 768px) {
  .site-main .parallelogram {
    box-shadow: -13px 11px 0 var(--color-darkorange);
    transform: skew(-20deg);
  }
}
.site-main .section-title {
  display: inline-block;
  font-size: 1.5em;
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-brandongrotesque);
  font-weight: 900;
  font-style: bold;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .site-main .section-title {
    transform: skew(20deg);
    font-size: 2em;
  }
}

.hero {
  backgound-color: var(--color-darkorange);
  height: 100vh; /* Ensure full height on mobile */
  position: relative; /* Required for absolute positioning of text */
}
@media screen and (min-width: 768px) {
  .hero {
    background-color: var(--color-white);
    height: auto;
  }
}
.hero .hero-bg {
  display: none; /* Hide image on mobile */
}
@media screen and (min-width: 768px) {
  .hero .hero-bg {
    display: block;
    width: 100%;
    height: 1380px;
    padding: 0 1.5rem; /* Add padding to image */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
  }
}
.hero #hero-bg-img-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero #hero-bg-img-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.hero .hero-content {
  position: absolute; /* Position content over image */
  top: 60%; /* Position from top */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9; /* Ensure content is above image but below header */
  width: 100%;
  text-align: center;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.hero .hero-text {
  font-size: 25px;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-family: var(--font-brandongrotesque);
}
@media screen and (min-width: 1300px) {
  .hero .hero-text {
    font-size: 30px;
    letter-spacing: 0.55rem;
  }
}
.hero .hero-logo {
  width: 300px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .hero .hero-logo {
    width: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .hero .hero-logo {
    width: 1016px;
  }
}
.hero .countdown {
  display: none;
}
.hero .countdown.visible {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  margin-right: 7.2rem;
  margin-left: 7.2rem;
}
.hero .countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .countdown-item span {
  font-size: 22px;
  font-weight: bold;
  margin-top: 120px;
}
.hero .countdown-item .label {
  font-size: 10.8px;
  margin-top: 0.5rem;
  font-weight: normal;
}
@media (min-width: 768px) {
  .hero .countdown {
    display: flex;
    gap: 7.2rem;
  }
  .hero .countdown-item span {
    font-size: 33px;
  }
  .hero .countdown-item .label {
    font-size: 14.4px;
    margin-top: 0;
    line-height: 0.1;
  }
}
@media (min-width: 1300px) {
  .hero .countdown-item span {
    font-size: 55px;
  }
  .hero .countdown-item .label {
    font-size: 18px;
  }
}
.hero .countdown .countdown-item .title {
  font-family: var(--font-brandongrotesque);
}
.hero .countdown .countdown-item .label {
  font-family: var(--font-sourcesanspro);
}

.highlights {
  background-color: #f7f7f7;
}
.highlights .highlights-video {
  margin: 0 auto 100px auto;
}
.highlights .highlights-video iframe {
  width: 80%;
  max-width: 1000px;
}

/* Grid Layout */
.speakers-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
  padding: 1rem;
}

/* Speaker Card */
.speaker-card {
  background-color: #EB6841;
  color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 8px;
  position: relative;
  text-align: center;
  /* Add subtle shadow for depth */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Add speech bubble tail */
.speaker-card::after {
  content: "";
  position: absolute;
  left: 68%;
  bottom: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #EB6841;
}

/* Speaker Image Container */
.speaker-image {
  margin-bottom: 1.5rem;
}

.speaker-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  /* Optional: add a border */
  border: 3px solid rgba(255, 255, 255, 0.2);
}

/* Speaker Info */
.speaker-info {
  margin-top: 1rem;
}

.speaker-name {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.speaker-role {
  font-size: 1rem;
  opacity: 0.9;
  line-height: 1.4;
}

/* Section Styling */
.speakers {
  position: relative;
  padding: 4rem 0;
}

.speakers-section-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.speakers-bg-img-1,
.speakers-bg-img-2 {
  position: absolute;
  z-index: -1;
  max-width: 100%;
}

.section-subtitle {
  text-align: center;
  margin: 2rem 0;
}

hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.what-to-expect {
  background-color: var(--color-white);
  height: auto;
  position: relative; /* Required for absolute positioning of text */
}
@media screen and (min-width: 768px) {
  .what-to-expect {
    background-color: var(--color-white);
    height: auto;
  }
}
.what-to-expect .what-to-expect-columns {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .what-to-expect .what-to-expect-columns {
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px; /* Push columns 20px from the bottom of the image */
    padding: 0;
  }
}
.what-to-expect .what-to-expect-column {
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .what-to-expect .what-to-expect-column {
    margin-bottom: 0;
    flex: 1;
    padding: 20px;
    margin-top: 20%;
  }
}
.what-to-expect .what-to-expect-column h4 {
  color: darkorange;
}
@media screen and (min-width: 768px) {
  .what-to-expect .what-to-expect-column h4 {
    color: white;
  }
}
.what-to-expect .what-to-expect-column p {
  color: black;
}
@media screen and (min-width: 768px) {
  .what-to-expect .what-to-expect-column p {
    color: white;
  }
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*# sourceMappingURL=style.css.map */
