* {
  margin: 0 auto;
  padding: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 1300px) {
  html,
  body {
    width: 1300px;
  }
}

:root {
  --color-darkorange: #fe5e00;
  --color-lightorange: #feb902;
  --color-white: #fff;
  --color-black: #000;
  --font-brandongrotesque: "brandon-grotesque", sans-serif;
  --font-sourcesanspro: "Source Sans Pro", sans-serif;
}

.site-header {
  background-color: var(--color-white);
  color: var(--color-darkorange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 111px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  font-family: var(--font-brandongrotesque);
  font-weight: 700;
  font-size: 28px;
}
@media (min-width: 1300px) {
  .site-header {
    position: fixed;
    box-shadow: none;
    width: 1300px;
  }
}
.site-header .site-branding {
  padding: 35px 25px 15px 0px;
  margin: 0 4%;
}
.site-header .site-branding img {
  width: 172px;
  height: auto;
}
.site-header .main-navigation {
  margin: 0 5%;
}
.site-header .main-navigation .menu-row {
  display: none;
}
.site-header .main-navigation .menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10%;
}
.site-header .main-navigation .menu-toggle .bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-darkorange);
  margin: 4px 0;
}
.site-header .menu-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.site-header .menu-modal .menu-modal-content {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.site-header .menu-modal .menu-modal-content ul {
  list-style: none;
}
.site-header .menu-modal .menu-modal-content .menu-close {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--color-darkorange);
}
.site-header .menu-modal .menu-modal-content a {
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-darkorange);
  text-decoration: none;
}
.site-header .menu-modal.active {
  display: flex;
}
@media (min-width: 768px) {
  .site-header .main-navigation .menu-row {
    display: none;
  }
  .site-header .main-navigation .menu-toggle {
    display: flex;
  }
  .site-header .menu-modal {
    display: none;
  }
}
@media (min-width: 1300px) {
  .site-header .main-navigation {
    margin: 3.4%;
  }
  .site-header .main-navigation .menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 3px;
    padding-top: 5px;
  }
  .site-header .main-navigation .menu-row ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .site-header .main-navigation .menu-row ul a {
    text-transform: uppercase;
    cursor: pointer;
    color: var(--color-darkorange);
    text-decoration: none;
  }
  .site-header .main-navigation .menu-toggle {
    display: none;
  }
  .site-header .menu-modal {
    display: none;
  }
}

.site-main {
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* Large screen background images on what to expect and speakers sections */
  /* Section icon */
  /* Section titles */
}
.site-main section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1300px) {
  .site-main section {
    width: 1300px;
  }
}
.site-main h3 {
  font-size: 22px;
  font-family: var(--font-brandongrotesque);
  font-weight: 700;
  color: var(--color-darkorange);
  font-style: italic;
  max-width: 85%;
  text-align: center;
  margin: 55px auto 30px auto;
}
@media screen and (min-width: 768px) {
  .site-main h3 {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) {
  .site-main h3 {
    font-size: 35px;
  }
}
.site-main h4 {
  font-size: 20px;
  font-family: var(--font-brandongrotesque);
  font-weight: 700;
  color: var(--color-darkorange);
  margin: 0 auto;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
}
@media screen and (min-width: 768px) {
  .site-main h4 {
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .site-main h4 {
    font-size: 30px;
  }
}
.site-main p {
  font-size: 18px;
  color: var(--color-black);
  font-family: var(--font-sourcesanspro);
  font-weight: 400;
  line-height: 1.4;
  width: 85%;
  margin: 0 auto 40px auto;
}
@media screen and (min-width: 768px) {
  .site-main p {
    font-size: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .site-main p {
    font-size: 30px;
  }
}
.site-main .full-w-img {
  display: none; /* Hide image on mobile */
}
@media screen and (min-width: 768px) {
  .site-main .full-w-img {
    display: block;
    width: 100%;
    padding: 0; /* Add padding to image */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
  }
}
.site-main .icon-img {
  height: auto;
}
.site-main .parallelogram {
  background: var(--color-lightorange);
  display: inline-block;
  padding: 20px;
  height: auto;
}
@media screen and (min-width: 1300px) {
  .site-main .parallelogram {
    box-shadow: -13px 11px 0 var(--color-darkorange);
    transform: skew(-28deg);
  }
}
.site-main .section-title {
  display: inline-block;
  font-size: 2em;
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-brandongrotesque);
  font-weight: 900;
  font-style: bold;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 1300px) {
  .site-main .section-title {
    transform: skew(28deg);
    font-size: 2.6em;
  }
}

.hero {
  backgound-color: var(--color-darkorange);
  height: 100vh; /* Ensure full height on mobile */
  position: relative; /* Required for absolute positioning of text */
}
@media screen and (min-width: 768px) {
  .hero {
    background-color: var(--color-white);
    height: auto;
  }
}
.hero .hero-bg {
  display: none; /* Hide image on mobile */
}
@media screen and (min-width: 768px) {
  .hero .hero-bg {
    display: block;
    width: 100%;
    height: 1380px;
    padding: 0 1.5rem; /* Add padding to image */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
  }
}
.hero #hero-bg-img-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero #hero-bg-img-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.hero .hero-content {
  position: absolute; /* Position content over image */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9; /* Ensure content is above image but below header */
  width: 100%;
  text-align: center;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1300px) {
  .hero .hero-content {
    margin-top: 980px;
  }
}
.hero .hero-text {
  font-size: 25px;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-family: var(--font-brandongrotesque);
  margin-bottom: -20px;
}
@media screen and (min-width: 1300px) {
  .hero .hero-text {
    font-size: 30px;
    letter-spacing: 0.55rem;
  }
}
.hero .hero-logo {
  width: 300px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .hero .hero-logo {
    width: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .hero .hero-logo {
    width: 1016px;
  }
}
.hero .countdown {
  display: none;
}
.hero .countdown.visible {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  margin-right: 7.2rem;
  margin-left: 7.2rem;
}
.hero .countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .countdown-item span {
  font-size: 22px;
  font-weight: bold;
  margin-top: 120px;
}
.hero .countdown-item .label {
  font-size: 10.8px;
  margin-top: 0.5rem;
  font-weight: normal;
}
@media (min-width: 768px) {
  .hero .countdown {
    display: flex;
    gap: 7.2rem;
  }
  .hero .countdown-item span {
    font-size: 33px;
  }
  .hero .countdown-item .label {
    font-size: 14.4px;
    margin-top: 0;
    line-height: 0.1;
  }
}
@media (min-width: 1300px) {
  .hero .countdown-item span {
    font-size: 55px;
  }
  .hero .countdown-item .label {
    font-size: 18px;
  }
}
.hero .countdown .countdown-item .title {
  font-family: var(--font-brandongrotesque);
}
.hero .countdown .countdown-item .label {
  font-family: var(--font-sourcesanspro);
}

.membership-growth .icon-img {
  width: 70px;
  margin: 57px auto 54px auto;
}
@media screen and (min-width: 1300px) {
  .membership-growth .parallelogram {
    height: 88px;
  }
}

@media screen and (min-width: 1300px) {
  .section-title {
    padding: 0 20px 10px 19px;
  }
}

.highlights {
  background-color: #f7f7f7;
}
.highlights .icon-img {
  width: 64px;
  margin: 57px auto 48px auto;
}
@media screen and (min-width: 1300px) {
  .highlights .parallelogram {
    height: 90px;
  }
}
@media screen and (min-width: 1300px) {
  .highlights .section-title {
    padding: 0 20px 10px 48px;
  }
}
.highlights .highlights-video {
  margin: 63px auto 87px auto;
  position: relative;
  width: 300px;
  height: 169px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1300px) {
  .highlights .highlights-video {
    width: 1165px;
    height: 675px;
  }
}
.highlights .highlights-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.meet-your-host {
  position: relative; /* This is needed for absolute positioning of children */
  z-index: 1;
}
.meet-your-host .icon-img {
  width: 43px;
  margin: 64px auto 68px auto;
}
@media screen and (min-width: 1300px) {
  .meet-your-host .parallelogram {
    height: 89px;
  }
}
@media screen and (min-width: 1300px) {
  .meet-your-host .section-title {
    padding: 0 20px 5px 10px;
  }
}
.meet-your-host .host-img {
  width: 330px;
  height: auto;
  padding: 0;
  object-fit: cover;
  position: relative; /* This ensures it stays above the background divs */
  z-index: 2;
}
@media screen and (min-width: 1300px) {
  .meet-your-host .host-img {
    padding: 67px 0 20px 0;
  }
}
.meet-your-host .host-img-bg-dark {
  position: absolute;
  width: 329px;
  height: 251px;
  background: var(--color-darkorange);
  top: 630px;
  left: 662px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.meet-your-host .host-img-bg-light {
  position: absolute;
  width: 329px;
  height: 251px;
  background: var(--color-lightorange);
  top: 656px;
  left: 636px;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.meet-your-host .host-name {
  color: var(--color-lightorange);
  font-size: 40px;
  letter-spacing: 4px;
  font-family: var(--font-brandongrotesque);
  font-weight: 900;
  text-transform: uppercase;
  margin: 28px auto 0 auto;
}
.meet-your-host h3 {
  margin: 30px auto 35px auto;
}

.speakers {
  position: relative;
  padding: 4rem 0;
  /* Background Images */
  /* Heading */
  /* Grid Layout */
  /* Speaker Image Container */
  /* Speaker Info */
}
.speakers .speakers-section-content {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  padding: 0 1rem;
}
.speakers .speakers-bg-img-1,
.speakers .speakers-bg-img-2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  pointer-events: none;
}
.speakers .speakers-bg-img-1 {
  max-width: 100%;
  margin-top: -210px;
}
.speakers .speakers-bg-img-2 {
  max-width: 100%;
  margin-top: -200px;
}
.speakers h2 {
  text-align: center;
  margin: 145px 0 0 0;
  color: var(--color-darkorange);
  text-transform: uppercase;
  font-family: var(--font-brandongrotesque);
  font-weight: 700;
  z-index: 3;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .speakers h2 {
    font-size: 30px;
    color: var(--color-white);
  }
}
@media screen and (min-width: 1300px) {
  .speakers h2 {
    font-size: 42px;
  }
}
.speakers .speakers-grid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 40px 0;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .speakers .speakers-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.speakers .speaker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.speakers .speaker-card {
  position: relative;
  width: 280px;
  height: 280px;
  padding: 0px;
  background: linear-gradient(to right top, #feb902, #fff);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.speakers .speaker-card:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 40px 60px 1px 0;
  border-color: transparent #feb902;
  display: block;
  width: 0;
  z-index: 1;
  left: -60px;
  top: 177px;
}
.speakers .speaker-card:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 60px 90px 0px 0;
  border-color: transparent #feb902;
  display: block;
  width: 0;
  z-index: 0;
  left: -90px;
  top: 165px;
}
.speakers .speaker-image {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.speakers .speaker-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.speakers .speaker-info {
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
}
.speakers .speaker-name {
  font-size: 18px;
  margin: -10px auto 0 auto;
  font-weight: 700;
  width: 350px;
  letter-spacing: 3px;
  color: var(--color-white);
  font-family: var(--font-brandongrotesque);
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .speakers .speaker-name {
    font-size: 23px;
  }
}
@media screen and (min-width: 1300px) {
  .speakers .speaker-name {
    font-size: 27px;
  }
}
.speakers .speaker-role {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 2px;
  margin-top: -5px;
  color: var(--color-white);
  font-family: var(--font-sourcesanspro);
}
.speakers hr {
  margin: -7px 0;
  width: 100%;
  height: 7px;
  border: none;
  background: linear-gradient(to right, #fe5e00, #feb902);
}

.what-to-expect {
  background-color: var(--color-white);
  height: auto;
  position: relative; /* Required for absolute positioning of text */
}
@media screen and (min-width: 768px) {
  .what-to-expect {
    background-color: var(--color-white);
    height: auto;
  }
}
.what-to-expect .what-to-expect-collage-img {
  margin-top: -60px;
}
.what-to-expect .what-to-expect-columns {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .what-to-expect .what-to-expect-columns {
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    gap: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px; /* Push columns 20px from the bottom of the image */
    padding: 0 70px;
  }
}
.what-to-expect .what-to-expect-column {
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .what-to-expect .what-to-expect-column {
    margin-bottom: 0;
    flex: 1;
    margin-top: 250px;
  }
}
.what-to-expect .what-to-expect-column h4 {
  color: darkorange;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .what-to-expect .what-to-expect-column h4 {
    color: white;
  }
}
.what-to-expect .what-to-expect-column p {
  color: black;
  width: 90%;
}
@media screen and (min-width: 1300px) {
  .what-to-expect .what-to-expect-column p {
    color: white;
    font-size: 27px;
    width: 100%;
  }
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*# sourceMappingURL=style.css.map */
