@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
  border-collapse: collapse;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 1300px) {
  html,
  body {
    width: 1300px;
  }
}

:root {
  --color-darkorange: #fe5e00;
  --color-lightorange: #feb902;
  --color-white: #fff;
  --color-black: #000;
  --color-offwhite: #f7f7f7;
  --font-brandongrotesque: "brandon-grotesque", sans-serif;
  --font-sourcesanspro: "Source Sans Pro", sans-serif;
}

@media screen and (min-width: 1300px) {
  .site-main {
    max-width: 1300px;
  }
}

.site-header {
  background-color: var(--color-white);
  color: var(--color-darkorange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 111px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  font-family: var(--font-brandongrotesque);
  font-weight: 700;
  font-size: 28px;
}
@media (min-width: 1300px) {
  .site-header {
    position: fixed;
    box-shadow: none;
    width: 1300px;
  }
}
.site-header .site-branding {
  padding: 35px 25px 15px 0px;
  margin: 0 50px;
}
.site-header .site-branding img {
  width: 172px;
  height: auto;
}
.site-header .main-navigation {
  margin: 0 5%;
}
.site-header .main-navigation .menu-row {
  display: none;
}
.site-header .main-navigation .menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10%;
}
.site-header .main-navigation .menu-toggle .bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-darkorange);
  margin: 4px 0;
}
.site-header .menu-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.site-header .menu-modal .menu-modal-content {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.site-header .menu-modal .menu-modal-content ul {
  list-style: none;
}
.site-header .menu-modal .menu-modal-content .menu-close {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--color-darkorange);
}
.site-header .menu-modal .menu-modal-content a {
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-darkorange);
  text-decoration: none;
}
.site-header .menu-modal.active {
  display: flex;
}
@media (min-width: 768px) {
  .site-header .main-navigation .menu-row {
    display: none;
  }
  .site-header .main-navigation .menu-toggle {
    display: flex;
  }
  .site-header .menu-modal {
    display: none;
  }
}
@media (min-width: 1300px) {
  .site-header .main-navigation {
    margin: 0 45px 0 0;
  }
  .site-header .main-navigation .menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2.55px;
    padding-top: 7px;
  }
  .site-header .main-navigation .menu-row ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .site-header .main-navigation .menu-row ul a {
    text-transform: uppercase;
    cursor: pointer;
    color: var(--color-darkorange);
    text-decoration: none;
  }
  .site-header .main-navigation .menu-row li {
    margin-left: 40px;
  }
  .site-header .main-navigation .menu-toggle {
    display: none;
  }
  .site-header .menu-modal {
    display: none;
  }
}

.site-main {
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* Large screen background images on what to expect and speakers sections */
  /* Section icon */
  /* Section titles */
}
.site-main section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1300px) {
  .site-main section {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.site-main h3 {
  font-size: 22px;
  font-family: var(--font-brandongrotesque);
  font-weight: 700;
  color: var(--color-darkorange);
  font-style: italic;
  max-width: 85%;
  text-align: center;
  margin: 55px auto 30px auto;
}
@media screen and (min-width: 768px) {
  .site-main h3 {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) {
  .site-main h3 {
    font-size: 35px;
  }
}
.site-main h4 {
  font-size: 20px;
  font-family: var(--font-brandongrotesque);
  font-weight: 700;
  color: var(--color-darkorange);
  margin: 0 auto;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
}
@media screen and (min-width: 768px) {
  .site-main h4 {
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .site-main h4 {
    font-size: 30px;
  }
}
.site-main p {
  font-size: 18px;
  color: var(--color-black);
  font-family: var(--font-sourcesanspro);
  font-weight: 400;
  line-height: 1.4;
  width: 85%;
  margin: 0 auto 40px auto;
}
@media screen and (min-width: 768px) {
  .site-main p {
    font-size: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .site-main p {
    font-size: 30px;
  }
}
.site-main .full-w-img {
  display: none; /* Hide image on mobile */
}
@media screen and (min-width: 768px) {
  .site-main .full-w-img {
    display: block;
    width: 100%;
    padding: 0; /* Add padding to image */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
  }
}
.site-main .icon-img {
  width: 40px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .site-main .icon-img {
    width: 50px;
  }
}
.site-main .parallelogram {
  background: var(--color-lightorange);
  display: inline-block;
  padding: 20px;
}
@media screen and (max-width: 1299px) {
  .site-main .parallelogram {
    width: 90%;
    height: auto;
  }
}
@media screen and (min-width: 1300px) {
  .site-main .parallelogram {
    box-shadow: -13px 11px 0 var(--color-darkorange);
    transform: skew(-28deg);
  }
}
.site-main .section-title {
  display: inline-block;
  font-size: 1.5em;
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-brandongrotesque);
  font-weight: 900;
  font-style: bold;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 1300px) {
  .site-main .section-title {
    font-size: 2em;
  }
}
@media screen and (min-width: 1300px) {
  .site-main .section-title {
    transform: skew(28deg);
    font-size: 2.6em;
  }
}

.site-main .hero {
  background-color: var(--color-darkorange);
  background-image: url(./assets/hero/hero-bg.png);
  height: 750px;
  width: 100%;
  background-size: cover;
  position: relative; /* Required for absolute positioning of text */
}
@media screen and (min-width: 768px) {
  .site-main .hero {
    height: 1300px;
  }
}
@media screen and (min-width: 1300px) {
  .site-main .hero {
    height: 1412px;
    width: 1248px;
  }
}
.site-main .hero #hero-bg-img-left,
.site-main .hero #hero-bg-img-right {
  display: none; /* Hide by default on mobile */
}
@media screen and (min-width: 1300px) {
  .site-main .hero #hero-bg-img-left,
  .site-main .hero #hero-bg-img-right {
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    padding-top: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: soft-light;
    z-index: 1;
  }
}
@media screen and (min-width: 1300px) {
  .site-main .hero #hero-bg-img-left {
    left: 0;
    background-image: url(./assets/hero/hero-image-left.png);
  }
}
@media screen and (min-width: 1300px) {
  .site-main .hero #hero-bg-img-right {
    right: 0;
    background-image: url(./assets/hero/hero-image-right.png);
  }
}
.site-main .hero .hero-content {
  z-index: 9; /* Ensure content is above image but below header */
  width: 100%;
  text-align: center;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
@media screen and (min-width: 768px) {
  .site-main .hero .hero-content {
    padding-top: 150px;
  }
}
@media screen and (min-width: 1300px) {
  .site-main .hero .hero-content {
    padding-top: 514px;
    display: block;
    margin-top: 0;
  }
}
.site-main .hero .hero-text {
  font-size: 22px;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-family: var(--font-brandongrotesque);
  margin-bottom: 20px;
  font-weight: 700;
}
@media screen and (min-width: 1300px) {
  .site-main .hero .hero-text {
    font-size: 30px;
    letter-spacing: 0.55rem;
  }
}
.site-main .hero .hero-logo {
  background-image: url(./assets/hero/hero-logo.png);
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 143px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .site-main .hero .hero-logo {
    margin-top: -55px;
    margin-bottom: 71px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 570px;
    height: 272px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1024px) {
  .site-main .hero .hero-logo {
    width: 1016px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1016px;
    height: 484px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
}
.site-main .hero .countdown {
  max-width: 600px;
  display: none;
}
.site-main .hero .countdown.visible {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  margin-right: 7.2rem;
  margin-left: 7.2rem;
}
.site-main .hero .countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-main .hero .countdown-item span {
  font-size: 21.2px;
  font-weight: bold;
}
.site-main .hero .countdown-item .label {
  font-size: 10.8px;
  margin-top: 0.5rem;
  font-weight: normal;
}
@media (min-width: 768px) {
  .site-main .hero .countdown {
    display: flex;
    gap: 7.2rem;
  }
  .site-main .hero .countdown-item span {
    font-size: 31.8px;
  }
  .site-main .hero .countdown-item .label {
    font-size: 14.4px;
    margin-top: 0;
    line-height: 0.1;
  }
}
@media (min-width: 1300px) {
  .site-main .hero .countdown-item span {
    font-size: 53px;
  }
  .site-main .hero .countdown-item .label {
    font-size: 18px;
  }
}
.site-main .hero .countdown .countdown-item .title {
  font-family: var(--font-brandongrotesque);
}
.site-main .hero .countdown .countdown-item .label {
  font-family: var(--font-sourcesanspro);
}

.membership-growth {
  text-align: center;
}
.membership-growth .icon-img {
  margin: 57px auto 56px auto;
}
@media screen and (min-width: 1300px) {
  .membership-growth .icon-img {
    width: 68px;
  }
}
@media screen and (min-width: 1300px) {
  .membership-growth .parallelogram {
    height: 89px;
  }
}
@media screen and (min-width: 1300px) {
  .membership-growth .section-title {
    padding: 0 20px 10px 19px;
  }
}
.membership-growth .section-subtitle {
  line-height: 1.4;
  margin-bottom: 35px;
}

.what-to-expect {
  text-align: center;
  background-color: var(--color-white);
  height: auto;
  position: relative; /* Required for absolute positioning of text */
}
@media screen and (min-width: 768px) {
  .what-to-expect {
    background-color: var(--color-white);
    height: auto;
  }
}
.what-to-expect .what-to-expect-collage-img {
  margin-top: -63px;
}
.what-to-expect .what-to-expect-columns {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .what-to-expect .what-to-expect-columns {
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    gap: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px; /* Push columns 20px from the bottom of the image */
    padding: 0 70px;
  }
}
.what-to-expect .what-to-expect-column {
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .what-to-expect .what-to-expect-column {
    margin-bottom: 0;
    flex: 1;
    margin-top: 246px;
    width: 400px;
  }
}
.what-to-expect .what-to-expect-column h4 {
  color: darkorange;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .what-to-expect .what-to-expect-column h4 {
    color: white;
  }
}
.what-to-expect .what-to-expect-column p {
  color: black;
  width: 90%;
  line-height: 1.2;
}
@media screen and (min-width: 1300px) {
  .what-to-expect .what-to-expect-column p {
    color: white;
    font-size: 27px;
    width: 350px;
  }
}

.highlights {
  background-color: #f7f7f7;
  text-align: center;
}
.highlights .icon-img {
  margin: 57px auto 50px auto;
}
@media screen and (min-width: 1300px) {
  .highlights .icon-img {
    width: 64px;
  }
}
@media screen and (min-width: 1300px) {
  .highlights .parallelogram {
    height: 90px;
  }
}
@media screen and (min-width: 1300px) {
  .highlights .section-title {
    padding: 0 20px 10px 48px;
  }
}
.highlights .highlights-video {
  margin: 61px auto 87px auto;
  position: relative;
  width: 300px;
  height: 169px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1300px) {
  .highlights .highlights-video {
    width: 1165px;
    height: 675px;
  }
}
.highlights .highlights-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.meet-your-host {
  position: relative; /* This is needed for absolute positioning of children */
  z-index: 1;
  text-align: center;
}
.meet-your-host .icon-img {
  margin: 64px auto 70px auto;
}
@media screen and (min-width: 1300px) {
  .meet-your-host .icon-img {
    width: 42px;
  }
}
@media screen and (min-width: 1300px) {
  .meet-your-host .parallelogram {
    height: 90px;
  }
}
@media screen and (min-width: 1300px) {
  .meet-your-host .section-title {
    padding: 0 20px 5px 10px;
  }
}
.meet-your-host .host-img-wrapper {
  width: 280px;
  height: 370px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  .meet-your-host .host-img-wrapper {
    width: 354px;
    height: 505px;
  }
}
.meet-your-host .host-img-wrapper .host-img {
  width: 250px;
  height: auto;
  padding: 0;
  object-fit: cover;
  position: relative; /* This ensures it stays above the background divs */
  z-index: 2;
  margin: 20px auto 0 auto;
}
@media screen and (min-width: 768px) {
  .meet-your-host .host-img-wrapper .host-img {
    width: 330px;
    padding: 66px 0 20px 0;
    margin-top: 0;
  }
}
.meet-your-host .host-img-wrapper .host-img-bg-dark,
.meet-your-host .host-img-wrapper .host-img-bg-light {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 250px;
  height: 182px;
}
@media screen and (min-width: 768px) {
  .meet-your-host .host-img-wrapper .host-img-bg-dark,
  .meet-your-host .host-img-wrapper .host-img-bg-light {
    width: 329px;
    height: 251px;
  }
}
.meet-your-host .host-img-wrapper .host-img-bg-dark {
  background: var(--color-darkorange);
  margin-top: 231px;
  margin-left: 152px;
}
@media screen and (min-width: 768px) {
  .meet-your-host .host-img-wrapper .host-img-bg-dark {
    margin-top: 353px;
    margin-left: 190px;
  }
}
.meet-your-host .host-img-wrapper .host-img-bg-light {
  background: var(--color-lightorange);
  margin-top: 263px;
  margin-left: 127px;
}
@media screen and (min-width: 768px) {
  .meet-your-host .host-img-wrapper .host-img-bg-light {
    margin-top: 379px;
    margin-left: 164px;
  }
}
.meet-your-host .host-name {
  color: var(--color-lightorange);
  font-size: 27px;
  letter-spacing: 4px;
  font-family: var(--font-brandongrotesque);
  font-weight: 900;
  text-transform: uppercase;
  margin: 18px auto;
}
@media screen and (min-width: 1300px) {
  .meet-your-host .host-name {
    font-size: 32px;
  }
}
@media screen and (min-width: 1300px) {
  .meet-your-host .host-name {
    font-size: 40px;
    margin: 33px auto 0 auto;
  }
}
.meet-your-host h3 {
  margin: 34px auto 35px auto;
}

.speakers {
  position: relative;
  padding: 100px 0 50px;
  /* Background Images */
  /* Heading */
  /* Grid Layout */
  /* Speaker Image Container */
  /* Speaker Info */
}
@media screen and (min-width: 768px) {
  .speakers {
    padding: 200px 0 63px 0;
  }
}
@media screen and (min-width: 1300px) {
  .speakers .speakers-content-wrapper {
    width: 1300px;
    background: linear-gradient(to bottom, white 0%, white 210px, var(--color-lightorange) 210px, var(--color-lightorange) 100%);
  }
}
.speakers .speakers-section-content {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  padding: 0 1rem;
}
.speakers .speakers-bg-img-1,
.speakers .speakers-bg-img-2 {
  display: none;
}
@media screen and (min-width: 1300px) {
  .speakers .speakers-bg-img-1,
  .speakers .speakers-bg-img-2 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
  }
}
@media screen and (min-width: 1300px) {
  .speakers .speakers-bg-img-1 {
    max-width: 100%;
    margin-top: -210px;
  }
}
@media screen and (min-width: 1300px) {
  .speakers .speakers-bg-img-2 {
    max-width: 100%;
    margin-top: -210px;
  }
}
.speakers h2 {
  text-align: center;
  width: 80%;
  color: var(--color-darkorange);
  text-transform: uppercase;
  font-family: var(--font-brandongrotesque);
  font-weight: 700;
  z-index: 3;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .speakers h2 {
    font-size: 30px;
    color: var(--color-white);
    width: 60%;
  }
}
@media screen and (min-width: 1300px) {
  .speakers h2 {
    font-size: 42px;
    margin: 8px 0 0 0;
    width: auto;
  }
}
.speakers .speakers-grid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin: 40px 0 38px 0;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .speakers .speakers-grid {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
.speakers .speaker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
@media screen and (min-width: 768px) {
  .speakers .speaker-wrapper {
    align-items: flex-start;
  }
}
.speakers .speaker-card {
  position: relative;
  width: 320px;
  height: 280px;
  padding: 0px;
  margin-right: 60px;
  background: linear-gradient(to right top, #feb902, #fff);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(25% -5%, 100% 0%, 100% 100%, 25% 100%, 25% 83%, 0% 83%, 25% 60%);
}
.speakers .speaker-image {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.speakers .speaker-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(26% -6%, 100% 0%, 100% 100%, 26% 100%, 26% 84%, 0% 84%, 26% 60%);
}
.speakers .speaker-info {
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
}
.speakers .speaker-name {
  font-size: 18px;
  margin: -7px auto 0 auto;
  font-weight: 700;
  width: 350px;
  letter-spacing: 3px;
  color: var(--color-black);
  font-family: var(--font-brandongrotesque);
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .speakers .speaker-name {
    font-size: 23px;
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 1300px) {
  .speakers .speaker-name {
    font-size: 27px;
    color: var(--color-white);
  }
}
.speakers .speaker-role {
  font-size: 1rem;
  letter-spacing: 2px;
  color: var(--color-lightorange);
  font-family: var(--font-sourcesanspro);
}
@media screen and (min-width: 1300px) {
  .speakers .speaker-role {
    letter-spacing: 3px;
    color: var(--color-white);
  }
}
.speakers .speakers-section-footer {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1300px) {
  .speakers .speakers-section-footer {
    height: 135px;
  }
}
.speakers .speakers-section-footer h3 {
  margin: 20px auto 30px auto;
  text-align: center;
}
@media screen and (min-width: 1300px) {
  .speakers .speakers-section-footer h3 {
    margin: 36px auto 48px auto;
  }
}
.speakers .speakers-section-footer hr {
  text-align: center;
  margin: -8px 0;
  width: 100%;
  height: 7px;
  border: none;
  background: linear-gradient(to right, #fe5e00, #feb902);
}

.tickets {
  text-align: center;
  /* Default checkmark for all li items */
  /* Target the last li of the first card to show X instead */
}
.tickets .icon-img {
  margin: -5px auto 49px auto;
}
@media screen and (min-width: 1300px) {
  .tickets .icon-img {
    width: 58px;
  }
}
.tickets .parallelogram {
  margin-bottom: 52px;
}
@media screen and (min-width: 1300px) {
  .tickets .parallelogram {
    height: 90px;
    margin-bottom: 82px;
  }
}
@media screen and (min-width: 1300px) {
  .tickets .section-title {
    padding: 0 0 5px 20px;
  }
}
.tickets .first-p {
  width: 87%;
}
.tickets .second-p {
  width: 100%;
}
.tickets .section-subtitle {
  width: 90%;
  margin: -6px auto 60px auto;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .tickets .section-subtitle {
    font-size: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .tickets .section-subtitle {
    margin: -6px auto 115px auto;
    font-size: 38px;
  }
}
.tickets .ticket-prices {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  margin-top: -18px;
  width: 90%;
  height: 735px;
  /* Stack side by side on larger screens */
}
@media (min-width: 768px) {
  .tickets .ticket-prices {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 60px;
    width: 70%;
  }
}
@media (min-width: 1300px) {
  .tickets .ticket-prices {
    gap: 60px;
    width: 1135px;
  }
}
.tickets .card-wrapper {
  background: linear-gradient(to bottom, #fe5e00, #feb902);
  padding: 16px; /* This creates the border effect */
  flex: 1;
  width: 1300px;
  margin: 0 auto;
  width: 100%;
}
.tickets .ticket-price-card {
  position: relative;
  background: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.tickets .card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.8;
}
.tickets .price-title {
  font-size: 100px;
  font-weight: bold;
  margin: -25px 0 0 0;
  position: relative;
  z-index: 1;
  color: var(--color-white);
  font-family: var(--font-brandongrotesque);
}
@media screen and (min-width: 768px) {
  .tickets .price-title {
    font-size: 170px;
  }
}
.tickets .earlybird-bg {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0));
  padding: 8px 0;
  border-radius: 25px;
  margin: 0 0 60px 0;
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}
.tickets .earlybird-text {
  margin: 0;
  color: var(--color-darkorange);
  font-weight: 600;
  font-style: italic;
  font-family: var(--font-brandongrotesque);
  text-transform: uppercase;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .tickets .earlybird-text {
    font-size: 25px;
  }
}
.tickets .price-features {
  list-style: none;
  padding: 0;
  margin: 0 0 2rem 0;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tickets .price-features li {
  margin-bottom: 0.8rem;
  color: var(--color-white);
  font-family: var(--font-sourcesanspro);
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.1;
}
@media screen and (min-width: 768px) {
  .tickets .price-features li {
    font-size: 27px;
  }
}
.tickets .price-features li {
  margin-bottom: 0.8rem;
  color: var(--color-white);
  font-family: var(--font-sourcesanspro);
  position: relative;
  padding-left: 30px; /* Make space for the icon */
}
.tickets .price-features li::before {
  content: "✓";
  position: absolute;
  left: 0;
  color: var(--color-white);
}
.tickets .ticket-prices .card-wrapper:first-child .price-features li:last-child {
  opacity: 0.6;
}
.tickets .ticket-prices .card-wrapper:first-child .price-features li:last-child::before {
  content: "✕";
}
.tickets .buy-now-button {
  background: var(--color-darkorange);
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding: 6px 32px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: transform 0.2s;
  font-family: var(--font-brandongrotesque);
}
@media screen and (min-width: 768px) {
  .tickets .buy-now-button {
    font-size: 35px;
    padding: 8px 42px;
  }
}
.tickets .buy-now-button:hover {
  background: var(--color-white);
  color: var(--color-darkorange);
}

.location {
  /* Default layout: single column */
}
.location .icon-img {
  margin: 62px auto 70px auto;
}
@media screen and (min-width: 1300px) {
  .location .icon-img {
    width: 52px;
  }
}
.location .location-title-wrapper {
  position: relative;
  margin-left: 0;
}
@media screen and (min-width: 1300px) {
  .location .location-title-wrapper {
    margin-left: -32px;
  }
}
.location .location-title-wrapper .location-title-box {
  height: 88px;
  background-color: var(--lightorange);
  display: flex;
  align-items: center;
  padding: 0;
  position: relative;
  z-index: 1;
}
.location .location-title-wrapper .location-title-box .section-title {
  position: relative;
  z-index: 2;
  margin: 0;
  color: var(--color-white);
  transform: none;
}
@media (min-width: 768px) {
  .location .location-title-wrapper .location-title-box {
    clip-path: polygon(10% 0%, 100% 0%, 88% 30%, 10% 30%);
    height: 287px;
    background-color: var(--color-lightorange);
    width: 336px;
  }
  .location .location-title-wrapper .location-title-box .section-title {
    padding: 0 20px 0 70px;
    margin-top: -200px;
  }
}
.location .location-title-wrapper .location-title-shadow {
  display: none;
}
@media screen and (min-width: 768px) {
  .location .location-title-wrapper .location-title-shadow {
    display: block;
    position: relative;
    top: -287px;
    left: -12px;
    height: 334px;
    width: 308px;
    background: var(--color-darkorange);
    clip-path: polygon(10% 0%, 100% 0%, 88% 30%, 10% 30%);
    z-index: 0;
  }
}
.location .location-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .location .location-section-content {
    width: 60%;
  }
}
@media screen and (min-width: 1300px) {
  .location .location-section-content {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 128px;
    width: 1100px;
  }
}
.location .location-text-wrapper,
.location .map-wrapper {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1300px) {
  .location .location-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }
  .location .location-text-wrapper .address, .location .location-text-wrapper .location-name {
    text-align: left;
    white-space: nowrap;
    width: auto;
  }
}
.location .map-wrapper {
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 7px solid var(--color-offwhite);
  text-align: left;
  margin-left: -460px;
}
@media screen and (min-width: 1300px) {
  .location .map-wrapper {
    width: 549px;
    height: 545px;
  }
}
.location .map-wrapper iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.location .location-text {
  margin: 0;
  width: auto;
}
.location .location-text .address {
  white-space: nowrap;
  line-height: 1;
}
.location .location-text .address:first-child {
  margin-bottom: 12px;
}
.location .location-text .address:last-child {
  margin-bottom: 60px;
}
.location .location-text .location-name {
  color: var(--color-darkorange);
  font-style: normal;
  white-space: nowrap;
  line-height: 1;
  margin: 20px auto 15px auto;
}
@media screen and (min-width: 1300px) {
  .location .location-text .location-name {
    margin: 58px 0 40px 0;
  }
}
.location .location-text .location-name span {
  color: var(--color-lightorange);
  font-style: italic;
}
.location .location-text .location-name:last-child {
  margin: 5px auto 40px auto;
}
@media screen and (min-width: 1300px) {
  .location .location-text .location-name:last-child {
    margin: 53px 0 40px 0;
  }
}
@media screen and (min-width: 1300px) {
  .location .location-text {
    margin: -476px 0 0 -5px;
  }
}

.faq {
  background-color: var(--color-offwhite);
  text-align: center;
}
.faq .icon-img {
  margin: 45px auto 50px auto;
}
@media screen and (min-width: 1300px) {
  .faq .icon-img {
    width: 48px;
  }
}
.faq .parallelogram {
  margin-bottom: 52px;
}
@media screen and (min-width: 1300px) {
  .faq .parallelogram {
    height: 90px;
    margin-bottom: 110px;
  }
}
@media screen and (min-width: 1300px) {
  .faq .section-title {
    padding: 0 20px 10px 19px;
  }
}
.faq .collapsible {
  background-color: var(--color-lightorange);
  color: var(--color-white);
  font-weight: normal;
  cursor: pointer;
  padding: 20px 30px;
  border: none;
  outline: none;
  font-size: 20px;
  height: auto;
  min-height: 105px;
  text-align: left;
  width: 85%;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .faq .collapsible {
    width: 60%;
    font-size: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .faq .collapsible {
    font-size: 40px;
    width: 1100px;
  }
}
.faq .active {
  background-color: var(--color-lightorange);
}
.faq .collapsible:hover {
  background-color: var(--color-darkorange);
}
.faq .content {
  padding: 28px 18px 0 20px;
  display: none;
  overflow: hidden;
  background-color: var(--color-white);
  width: 85%;
}
@media screen and (min-width: 768px) {
  .faq .content {
    width: 60%;
    font-size: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .faq .content {
    font-size: 40px;
    width: 1100px;
  }
}
.faq .content p,
.faq .content ul,
.faq .content li {
  text-align: left;
}
.faq .content ul {
  list-style-type: disc;
  padding: 10px 0 0 110px;
}
.faq .content ul li {
  font-size: 18px;
  line-height: 1.2;
  margin-left: -70px;
}
@media screen and (min-width: 768px) {
  .faq .content ul li {
    font-size: 24px;
    margin-left: -35px;
  }
}
@media screen and (min-width: 1300px) {
  .faq .content ul li {
    font-size: 28px;
    line-height: 1.5;
    margin-left: 0;
  }
}
.faq .content .note {
  font-style: italic;
  color: var(--color-darkorange);
  padding: 45px 0 10px 0;
  margin-left: -85px;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .faq .content .note {
    font-size: 20px;
    margin-left: -60px;
  }
}
@media screen and (min-width: 1300px) {
  .faq .content .note {
    font-size: 24px;
    margin-left: -35px;
  }
}
.faq .empty-space {
  background-color: var(--color-offwhite);
  height: 76px;
}

.schedule {
  text-align: center;
  background-color: var(--color-white);
  margin-bottom: 50px;
}
.schedule .icon-img {
  margin: 55px auto 55px auto;
}
@media screen and (min-width: 1300px) {
  .schedule .icon-img {
    width: 42px;
  }
}
.schedule .parallelogram {
  margin-bottom: 30px;
}
@media screen and (min-width: 1300px) {
  .schedule .parallelogram {
    height: 90px;
    margin-bottom: 110px;
  }
}
@media screen and (min-width: 1300px) {
  .schedule .section-title {
    padding: 0 20px 10px 19px;
  }
}
.schedule .schedule-tabs .tab-button-container {
  display: none;
}
.schedule .schedule-tabs .tab-button-mobile {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-darkorange);
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  position: relative;
  z-index: 1;
  flex: 1;
  line-height: 1;
  text-align: center;
  margin: 40px auto 20px auto;
}
.schedule .schedule-tabs .tab-button-mobile span {
  text-transform: uppercase;
  font-family: var(--font-brandongrotesque);
  font-size: 20px;
  letter-spacing: 3px;
}
.schedule .schedule-tabs .tab-button-mobile span:first-child {
  font-weight: 700;
}
.schedule .schedule-tabs .tab-button-mobile span:last-child {
  font-weight: 400;
}
.schedule .schedule-tabs .tab-content {
  display: block;
}
@media screen and (min-width: 768px) {
  .schedule .schedule-tabs {
    width: 1100px;
    margin: 0 auto;
    /* Default gradient (first tab active) */
    /* When the second button is active */
    /* When first button is active */
    /* When second button is active */
  }
  .schedule .schedule-tabs .tab-button-mobile {
    display: none;
  }
  .schedule .schedule-tabs .tab-button-container {
    display: flex;
    position: relative;
    border: 1px solid var(--color-darkorange);
    width: 100%;
    height: 105px;
    overflow: hidden;
    margin-bottom: 73px;
    background: linear-gradient(120deg, var(--color-darkorange) 50%, var(--color-white) 50%);
  }
  .schedule .schedule-tabs .tab-button:nth-child(2).active ~ .tab-button-container,
  .schedule .schedule-tabs .tab-button-container:has(.tab-button:nth-child(2).active) {
    background: linear-gradient(120deg, var(--color-white) 50%, var(--color-darkorange) 50%);
  }
  .schedule .schedule-tabs .tab-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--color-white); /* Default text color for first button */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    flex: 1;
    line-height: 1;
    text-align: center;
  }
  .schedule .schedule-tabs .tab-button span {
    text-transform: uppercase;
    font-family: var(--font-brandongrotesque);
    font-size: 20px;
    letter-spacing: 3px;
  }
  .schedule .schedule-tabs .tab-button span:first-child {
    margin-bottom: 8px;
    font-weight: 700;
  }
  .schedule .schedule-tabs .tab-button span:last-child {
    font-weight: 400;
  }
  .schedule .schedule-tabs .tab-button:nth-child(1).active {
    color: var(--color-white);
  }
  .schedule .schedule-tabs .tab-button:nth-child(2) {
    color: var(--color-darkorange);
    margin-left: 80px;
  }
  .schedule .schedule-tabs .tab-button:nth-child(1) {
    color: var(--color-darkorange);
    margin-left: 20px;
  }
  .schedule .schedule-tabs .tab-button:nth-child(2).active {
    color: var(--color-white);
  }
  .schedule .schedule-tabs .tab-button span {
    font-size: 30px;
  }
  .schedule .schedule-tabs .tab-content {
    display: none;
  }
  .schedule .schedule-tabs .tab-content:first-of-type {
    display: block;
  }
}
.schedule .schedule-tabs {
  position: relative;
}
.schedule .schedule-tabs::after {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 80px);
  background-color: var(--color-darkorange);
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  transition: left 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}
.schedule .schedule-tabs .schedule-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 1;
}
.schedule .schedule-tabs .schedule-card {
  background-color: var(--color-white);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border: 1px solid var(--color-darkorange);
  overflow: hidden;
  background-color: var(--color-white);
  height: 130px;
  margin-bottom: 2px;
}
.schedule .schedule-tabs .schedule-card .schedule-time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  flex-shrink: 0;
  background-color: var(--color-darkorange);
  padding: 0;
  height: 100%;
}
.schedule .schedule-tabs .schedule-card .schedule-time p {
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin: 0 auto;
  font-size: 16px;
}
.schedule .schedule-tabs .schedule-card .schedule-session-details {
  flex-grow: 1;
  padding: 0;
}
.schedule .schedule-tabs .schedule-card .schedule-session-details .schedule-session h3 {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 700px;
  margin: 0 auto 5px;
  text-align: left;
  font-style: normal;
}
.schedule .schedule-tabs .schedule-card .schedule-session-details .schedule-speaker p {
  color: var(--color-lightorange);
  text-transform: uppercase;
  font-weight: 400px;
  font-size: 16px;
  margin: 0 auto;
  text-align: left;
  letter-spacing: 2px;
  line-height: 1;
}
.schedule .schedule-tabs .schedule-card .schedule-speaker-photo {
  display: none;
}
@media screen and (min-width: 768px) {
  .schedule .schedule-tabs::after {
    height: calc(100% - 105px - 101px);
    top: 105px;
    transform: translateX(0);
    left: calc(25% + 10px);
  }
  .tab-button:nth-child(2).active ~ .schedule .schedule-tabs::after, .schedule .schedule-tabs:has(.tab-button:nth-child(2).active)::after {
    left: calc(75% - 40px);
  }
  .schedule .schedule-tabs .schedule-grid {
    gap: 25px;
    width: 1100px;
  }
  .schedule .schedule-tabs .schedule-card {
    margin-bottom: 8px;
    height: 101px;
  }
  .schedule .schedule-tabs .schedule-card .schedule-time {
    width: 102px;
  }
  .schedule .schedule-tabs .schedule-card .schedule-time p {
    font-size: 24px;
  }
  .schedule .schedule-tabs .schedule-card .schedule-session-details .schedule-session h3 {
    font-size: 26px;
    margin-left: 26px;
  }
  .schedule .schedule-tabs .schedule-card .schedule-session-details .schedule-speaker p {
    font-size: 22px;
    margin-left: 26px;
  }
  .schedule .schedule-tabs .schedule-card .schedule-speaker-photo {
    width: 57px;
    height: 61px;
    background-color: var(--color-lightorange);
    margin-left: auto;
    margin-right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(20% 0%, 100% 0%, 80% 75%, 50% 75%, 30% 100%, 30% 75%, 0% 75%);
  }
  .schedule .schedule-tabs .schedule-card .schedule-speaker-photo img {
    width: 49px;
    height: 53px;
    object-fit: cover;
    clip-path: polygon(20% 0%, 100% 0%, 80% 75%, 50% 75%, 30% 100%, 30% 75%, 0% 75%);
  }
}

/*# sourceMappingURL=style.css.map */
