section {
    width: 100vw;
    position: relative;
    padding-top: 160px;
}

.dark-parallelogram {
    width: fit-content;     // Adjust width based on content
    min-width: 300px;       // Set a minimum width
    height: 80px;
    background-color: var(--color-darkorange);
    transform: skew(-20deg);
    position: relative;
    z-index: 1;
    margin: 0 auto;         // Center the parallelogram
    padding: 0 10px;        // Add horizontal padding
}

.light-parallelogram {
    width: fit-content;     // Adjust width based on content
    min-width: 300px;       // Set a minimum width
    height: 80px;
    background-color: var(--color-lightorange);
    transform: skew(-20deg);
    position: relative;
    top: -90px;
    left: 15px;
    z-index: 2;
    margin: 0 auto;         // Center the parallelogram
    padding: 0 10px;        // Add horizontal padding
}

.section-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    text-align: center;
    color: var(--color-white);
    text-transform: uppercase;
    z-index: 3;
    margin: 0 auto;         // Center the text
}