.hero {
    backgound-color: var(--color-darkorange);
    height: 100vh; /* Ensure full height on mobile */
    position: relative; /* Required for absolute positioning of text */

    @media screen and (min-width: 768px) {
        background-color: var(--color-white);
        height: auto; 
    }

    .hero-bg {
        display: none; /* Hide image on mobile */

        @media screen and (min-width: 768px) {
            display: block;
            width: 100%;
            padding: 0 1.5rem; /* Add padding to image */
            object-fit: cover; /* Maintain aspect ratio and cover the area */
        }
    }

    .hero-bg-img {
        display: none; /* Hide image on mobile */

        @media screen and (min-width: 768px) {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            opacity: 0.5;
        }
    }

    #hero-bg-img-left {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    #hero-bg-img-right {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .hero-content {
        position: absolute; /* Position content over image */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9; /* Ensure content is above image but below header */
        width: 100%;
        text-align: center;
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-text {
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 2rem; // Add space between text and countdown
        font-family: var(--font-brandongrotesque);

        @media screen and (min-width: 768px) {
            font-size: 35px;
        }

        @media screen and (min-width: 1024px) {
            font-size: 40px;
        }
    }

    .hero-logo {
        width: 300px;
        height: auto;
        margin-bottom: 2rem;

        @media screen and (min-width: 768px) {
            width: 600px;
        }

        @media screen and (min-width: 1024px) {
            width: 1016px;
        }
    }

    .countdown {
        $spacing: 4rem;
        $primary-font-size: 35px;
        $secondary-font-size: 15px;
        
        // Hidden by default on mobile
        display: none;
        
        // Styles for when visible
        &.visible {
            display: flex;
            justify-content: center;
            gap: calc($spacing / 4);
            margin-top: $spacing;
        }
        
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            span {
                font-size: $primary-font-size * 0.4;
                font-weight: bold;
            }
            
            .label {
                font-size: $secondary-font-size * 0.6;
                margin-top: 0.5rem;
                font-weight: normal;
            }
        }
    
        @media (min-width: 768px) {
            display: flex;
            gap: $spacing;
            
            &-item {
                span {
                    font-size: $primary-font-size * 0.6;
                }
                
                .label {
                    font-size: $secondary-font-size * 0.8;
                }
            }
        }

        @media (min-width: 1024px) {
            &-item {
                span {
                    font-size: $primary-font-size;
                }
                
                .label {
                    font-size: $secondary-font-size;
            }
        }
    }

    .countdown-item {
        .title {
            font-family: var(--font-brandongrotesque);
        }
    
        .label {
            font-family: var(--font-sourcesanspro);
        }
    }
}
}
