.meet-your-host {
    position: relative; /* This is needed for absolute positioning of children */
    z-index: 1;
    
    .icon-img {
      margin: 64px auto 68px auto;


    @media screen and (min-width: 1300px) {
      width: 43px;
  }
    }
  
    .parallelogram {
      @media screen and (min-width: 1300px) {
        height: 89px;
      }
    }
  
    .section-title {
      @media screen and (min-width: 1300px) {
        padding: 0 20px 5px 10px;
      }
    }
  
    .host-img {
      width: 250px;
      height: auto;
      padding: 0;
      object-fit: cover;
      position: relative; /* This ensures it stays above the background divs */
      z-index: 2;
      margin-top: 20px;
      
      @media screen and (min-width: 1300px) {
        width: 330px;
        padding: 67px 0 20px 0;
        margin-top: 0;
      }
    }
  
    .host-img-bg-dark {
      display: none;

      @media screen and (min-width: 1300px) {
        display: block;
        position: absolute;
        background: var(--color-darkorange);
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 329px;
        height: 251px;
        top: 630px;
        left: 662px;
      }
    }
  
    .host-img-bg-light {
      display: none;

      @media screen and (min-width: 1300px) {
        display: block;
        position: absolute;
        background: var(--color-lightorange);
        transform: translate(-50%, -50%);
        z-index: 0;
        width: 329px;
        height: 251px;
        top: 656px;
        left: 636px;
      }
      }

    .host-name {
        color: var(--color-lightorange);
        font-size: 27px;
        letter-spacing: 4px;
        font-family: var(--font-brandongrotesque);
        font-weight: 900;
        text-transform: uppercase;
        margin: 18px auto;

        @media screen and (min-width: 1300px) {
            font-size: 32px;
        }

        @media screen and (min-width: 1300px) {
            font-size: 40px;
            margin: 28px auto 0 auto;
        }
    }

    h3 {
        margin: 30px auto 35px auto;
    }
  }