.meet-your-host {
    position: relative; /* This is needed for absolute positioning of children */
    z-index: 1;
    text-align: center;
    
    .icon-img {
      margin: 64px auto 70px auto;


    @media screen and (min-width: 1300px) {
      width: 42px;
  }
    }
  
    .parallelogram {
      @media screen and (min-width: 1300px) {
        height: 90px;
      }
    }
  
    .section-title {
      @media screen and (min-width: 1300px) {
        padding: 0 20px 5px 10px;
      }
    }
  
    .host-img-wrapper {
      width: 280px;
      height: 370px;
      margin: 0 auto;
      position: relative;

      @media screen and (min-width: 768px) {
        width: 354px;
        height: 505px;
      }

    .host-img {
      width: 250px;
      height: auto;
      padding: 0;
      object-fit: cover;
      position: relative; /* This ensures it stays above the background divs */
      z-index: 2;
      margin: 20px auto 0 auto;
      
      @media screen and (min-width: 768px) {
        width: 330px;
        padding: 66px 0 20px 0;
        margin-top: 0;
      }
    }

    .host-img-bg-dark,
    .host-img-bg-light {
      position: absolute;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 250px;
        height: 182px;

        @media screen and (min-width: 768px) {
          width: 329px;
          height: 251px;
        }
    }
  
    .host-img-bg-dark {  
      background: var(--color-darkorange);    
        margin-top: 231px;
        margin-left: 152px;

        @media screen and (min-width: 768px) {
        margin-top: 353px;
        margin-left: 190px;
      }
    }
  
    .host-img-bg-light {
      background: var(--color-lightorange);
        margin-top: 263px;
        margin-left: 127px;

        @media screen and (min-width: 768px) {
        margin-top: 379px;
        margin-left: 164px;
      }
      }
    }

    .host-name {
        color: var(--color-lightorange);
        font-size: 27px;
        letter-spacing: 4px;
        font-family: var(--font-brandongrotesque);
        font-weight: 900;
        text-transform: uppercase;
        margin: 18px auto;

        @media screen and (min-width: 1300px) {
            font-size: 32px;
        }

        @media screen and (min-width: 1300px) {
            font-size: 40px;
            margin: 33px auto 0 auto;
        }
    }

    h3 {
        margin: 34px auto 35px auto;
    }
  }