.location {
    .icon-img {
        margin: 150% auto 70px auto;

    @media screen and (min-width: 1300px) {
        width: 52px;
        margin: 62px auto 70px auto;
        }
    }

    .location-mobile-title {
        margin-bottom: 70px;
        display: block;

        @media screen and (min-width: 1300px) {
            display: none;
        }
    }

    .location-desktop-title {
        display: none;

        @media screen and (min-width: 1300px) {
            display: block;
            position: relative;
            margin-left: 0;
            margin-left: -32px;
        }

        .location-title-box {
          height: 88px;
          background-color: var(--lightorange);
          display: flex;
          align-items: center;
          padding: 0;
          position: relative;
          z-index: 1;

          .section-title {
            position: relative;
            z-index: 2;
            margin: 0;
            color: var(--color-white);
            transform: none;
          }
          
          @media (min-width: 1300px) {
            clip-path: polygon(10% 0%, 100% 0%, 88% 30%, 10% 30%);
            height: 287px;
            background-color: var(--color-lightorange);
            width: 336px;

            .section-title {
                    padding: 0 20px 0 70px;
                    margin-top: -200px;
                }
            }
          }

          .location-title-shadow {
            display: none;

            @media screen and (min-width: 1300px) {
                display: block;
                position: relative;
                top: -287px;
                left: -12px;
                height: 334px;
                width: 308px;
                background: var(--color-darkorange);
                clip-path: polygon(10% 0%, 100% 0%, 88% 30%, 10% 30%);
                z-index: 0;
            }
          }
        }

    
    /* Default layout: single column */
    .location-section-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        width: 90%;

        @media screen and (min-width: 768px) {
            width: 60%;
        }

        @media screen and (min-width: 1300px) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 0;
            margin-bottom: 128px;
            width: 1100px;
        }
    }

    .location-text-wrapper, 
    .map-wrapper {
        width: 100%;
        text-align: center; // Default center alignment for mobile
    }

    @media screen and (min-width: 1300px) {
        .location-text-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            margin-left: 0;
            padding-left: 0;
            
            .address, .location-name {
                text-align: left;
                white-space: nowrap; // This prevents text from wrapping
                width: auto; // This allows the text to take its natural width
            }
        }
    }

    .map-wrapper {
        width: 320px;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 7px solid var(--color-offwhite);
        text-align: left;
        margin: 0 auto;
        

        @media screen and (min-width: 1300px) {
            width: 549px;
            height: 545px;
            margin-left: -460px;
        }
    
        iframe {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .location-text {
        margin: 0;
        width: auto;

        .address {
            white-space: nowrap;
            line-height: 1;
        
        &:first-child {
            margin-bottom: 12px;
        }

        &:last-child {
            margin-bottom: 60px;
        }
        }

        .location-name {
            color: var(--color-darkorange);
            font-style: normal;
            white-space: nowrap;
            line-height: 1;
            margin: 20px auto 15px auto;

            @media screen and (min-width: 1300px) {
                margin: 58px 0 40px 0;
            }

            span {
                color: var(--color-lightorange);
                font-style: italic;
            }

            &:last-child {
                margin: 5px auto 40px auto;

                @media screen and (min-width: 1300px) {
                    margin: 53px 0 40px 0;
                }
            }
        }

        @media screen and (min-width: 1300px) {
            margin: -476px 0 0 -5px;
        }
    }
}