.membership-growth {
    .icon-img {
    margin: 57px auto 54px auto;

    @media screen and (min-width: 1300px) {
        width: 70px;
    }
}

    .parallelogram {
        @media screen and (min-width: 1300px) {
        height: 88px;
    }
}
}

.section-title {
    @media screen and (min-width: 1300px) {
    padding: 0 20px 10px 19px;
    }
}