.membership-growth {
    text-align: center;
    
    .icon-img {
    margin: 57px auto 56px auto;

    @media screen and (min-width: 1300px) {
        width: 68px;
    }
}

    .parallelogram {
        @media screen and (min-width: 1300px) {
        height: 89px;
    }
}

.section-title {
    @media screen and (min-width: 1300px) {
    padding: 0 20px 10px 19px;
    }
}

.section-subtitle {
    line-height: 1.4;
    margin-bottom: 35px;
}
}