* {
  margin: 0 auto;
  padding: 0;
  border-collapse: collapse;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: 1300px) {
    width: 1300px;
  }
}

:root {
  --color-darkorange: #fe5e00;
  --color-lightorange: #feb902;
  --color-white: #fff;
  --color-black: #000;
  --color-offwhite: #f7f7f7;

  --font-brandongrotesque: 'brandon-grotesque', sans-serif;
  --font-sourcesanspro: 'Source Sans Pro', sans-serif;
}

.site-main {
  @media screen and (min-width: 1300px) {
    max-width: 1300px;
  }
}

