* {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

:root {
  --color-darkorange: #fe5e00;
  --color-lightorange: #feb902;
  --color-white: #fff;
  --color-black: #000;

  --font-brandongrotesque: 'Brandon Grotesque', sans-serif;
  --font-sourcesanspro: 'Source Sans Pro', sans-serif;
}

.brandongrotesque {
  font-family: var(--font-brandongrotesque);
}

.sourcesanspro {
  font-family: var(--font-sourcesanspro);
}