* {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

// .sourcesans {
//   font-family: var(--font-sourcesans);
// }
// .publico {
//   font-family: var(--font-publico);
// }

:root {
  --color-darkorange: #fe5e00;
  --color-lightorange: #feb902;
  --color-white: #fff;
  --color-black: #000;
}
