.site-inner {
    margin: 120px auto;
    width: 90%;
    padding: 20px;
    text-align: center;

    @media screen and (min-width: 1300px) {
        width: 100%;
        padding:60px;
    }

    p {
        font-size: 18px;
        color: var(--color-black);
        font-family: var(--font-sourcesanspro);
        font-weight: 400;
        line-height: 1.4;
        width: 85%;
        margin: 0 auto 40px auto;
      
      
        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
      
        @media screen and (min-width: 1024px) {
            font-size: 24px;
            width: 100%;
        }
    }
}

    form {
        font-family: var(--font-sourcesanspro);
        text-align: left;
        max-width: 100%;
        width: 90%;

        @media screen and (min-width: 768px) {
            width: 100%;
        }

        label {
            display: block;
            margin-bottom: 10px;
            line-height: 1.3;
            font-weight: 700;
            font-size: 20px;

            span {
                color: var(--color-darkred);
                margin-left: 4px;
            }
        }

        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
            padding: 5px 4px;
            display: block;
            width: 100%;
            text-align: left;
            font-size: 18px;
            margin: 0 0 30px 0;

            @media screen and (min-width: 768px) {
                width: 60%;
            }
        }

        input[type="submit"] {
            background: var(--color-darkorange);
            font-size: 24px;
            color: white;
            text-decoration: none;
            //padding: 6px 0;
            border-radius: 4px;
            border: none;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            transition: transform 0.2s;
            font-family: var(--font-brandongrotesque);
            width: 100px;
            cursor: pointer;
            padding:6px 12px;

        @media screen and (min-width: 768px) {
            font-size: 32px;
            padding: 8px 14px;
            width: 170px;
        }
        }
    }
    
    form {
        input[type="submit"]:hover {
            background: var(--color-lightorange);
        }
    }

    /* Section titles */
 .parallelogram {
    background: var(--color-lightorange);
    display: inline-block;
    padding: 20px;

    @media screen and (max-width: 767px) {
    width: 90%;
    }

    @media screen and (max-width: 1299px) {
    width: 70%;
    height: auto;
    }

    @media screen and (min-width: 1300px) {
    box-shadow: -13px 11px 0 var(--color-darkorange);
    transform: skew(-28deg);
    }
  }

h2.entry-title {
    display:inline-block;
    font-size: 1.5em;
    color: var(--color-white);
    text-transform: uppercase;
    font-family: var(--font-brandongrotesque);
    font-weight: 900;
    font-style: bold;
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: 1300px) {
        font-size: 2em;
        }

    @media screen and (min-width: 1300px) {
    transform: skew(28deg);
    font-size: 2.3em;
    }
}